.fatherTechniqueSkills {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.fatherTechniqueSkills .containerImgs {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    padding: 10px;
}

.textSkill {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 26px;
}